<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>hohoho</title>
</head>

<body background="/static/bg.jpg">
	
	<img src="/static/this.png" alt="Avatar" width="200" height="200">
  <img  src ="/static/image1.jpg"  width="200" height="200" class ="center">



  <a href="/song1"><img  id="img1" src ="/static/song1.jpeg"  width="200" height="200" ></a>
  <a href="/song2"><img  id="img1" src ="/static/song2.jpg"  width="200" height="200" ></a>
  <a href="/song3"><img  id="img1" src ="/static/song3.jpg"  width="200" height="200" ></a>
  

  

    

   
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
  </body>
</html>


<body …filename='js/script.js')}}"></script>
  </body>
</html>
