<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>hohoho</title>
</head>

<body background = "https://www.wallpaperup.com/uploads/wallpapers/2014/01/02/213116/fb6c9544f737d824c14200d25e3884b3.jpg">

  <a href="/home"><img src="/static/this.png" alt="HTML tutorial" width="200" height="200"></a>
  <img id="img2" src="/static/sheet2.gif" alt="HTML tutorial" width="200" height="200" class ="center">
  
    

   
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
  </body>
</html>