<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>hohoho</title>
</head>

<body background = "https://www.wallpaperup.com/uploads/wallpapers/2014/01/02/213116/fb6c9544f737d824c14200d25e3884b3.jpg">


 

 
</div><!--end log form -->
	<a href="/"><img src="/static/this.png" alt="HTML tutorial" width="200" height="200"></a>
  <iframe width="420" height="345" src="https://www.youtube.com/embed/hLQl3WQQoQ0" class="video">
</iframe>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


.button:hover {opacity: 1}
</style>

    
<button class="button"><a href ="/Lyrics3">Lyrics</a></button>
<button class="button"><a href ="/sheets3">Musical sheets</a></button>
   

    

   
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
  </body>
</html>